{% extends 'hostal/base.html' %}
{% load static %}
{% block content %}
<title>Ordenes de Compra</title>

<script src="{% static 'js/hostal.js' %}?{% now "YmdHis" %}"></script>

<body>
    <div class="page-wrapper bg-gra-03 pt-5 p-b-50">
        <div class="wrapper wrapper--w960">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Administracion Ordenes de Compra</h2>
                </div>
                <br>

                <form name="formOC" method="post" action="{% url "getOrdenCompra" %}">

                  <h3>
                  <div id="msg" class="col-lg-12 text text-success text-center" style="display:none"></div>
                  </h3>

                  {% csrf_token %}

                  <div class="container-fluid">

                    <div class="row">
                      <div class="col-lg-6">
                        <label># OC</label>
                        <input type="text" class="form-control" name="ocNumero" id="ocNumero" onkeypress="return onlyNum(event);" onkeydown="return onlyNum(event);" onpaste="return false;" maxlength="10">
                      </div>
                      <div class="col-lg-6">
                        <label>Cliente</label>
                        <input type="text" class="form-control" name="cliente" id="cliente" maxlength="100">
                      </div>
                    </div>

                    <br>
                    <div class="row">
                      <div class="col-lg-12">
                        <button class="btn btn-primary" type="submit">Buscar <i class="fa fa-search"></i></button>
                      </div>
                    </div>

                  </div>

                </form>
                <br>
                <div class="tabla-contenidos">
                <table class="table text-center " >
                    <thead class="thead-dark text-center">
                      <tr>
                        <th class="text-center"scope="col">ID OC</th>
                        <th class="text-center"scope="col">Empresa</th>
                        <th class="text-center"scope="col">Días</th>
                        <th class="text-center"scope="col">Fecha Ingreso</th>
                        <th class="text-center"scope="col">Fecha Salida</th>
                        <th class="text-center"scope="col">Cantidad Empleados </i>
                        <th class="text-center"scope="col">Total</th>
                        <th class="text-center"scope="col">Arribos</th>
                        <th class="text-center"scope="col">Facturas</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if form.oc %}
                        {% for oc in form.oc %}
                        <tr>
                          <td>#{{oc.orden_compra_id}}</td>
                          <td>{{oc.organismo.razon_social}}<br>{{oc.organismo.nombre_fantasia}}</td>
                          <td>{{oc.dias}}</td>
                          <td>{{oc.servicio_inicio}}</td>
                          <td>{{oc.servicio_fin}}</td>
                          <td >
                            <button onclick="$('#modalOCDetalle').modal('show');" id="btnCantidadEmpleados" class="btn text-light registro btn-space " type="button" >
                              {{oc.empleados_cantidad}}
                            </button>
                          </td>
                          <td>{{oc.total}}</td>
                          <td>{{oc.empleados_arrivos_cantidad}} <i class="fa fa-flag-checkered"></i></td>
                          <td>
                            <a href="{% url 'Facturas' %}">
                              <button class="btn btn-danger" type="button" onclick >Facturaci&oacute;n</button>
                            </a>
                          </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="6">No se encontraron &oacute;rdenes de compra.</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="Modalempleados">

      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="tituloModal pt-3 pb-3 center-block titulosModal">Listado Huespedes</div>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Arribo</th>
                <th scope="col">Hora</th>
                <th scope="col">Habitación</th>
              </tr>
            </thead>
            <tbody id="modalOCEmpleadosBody">
              <tr>
                <td colspan="6">
                  <i class="fa fa-cog fa-spin fa-3x"></i>
                </td>
              </tr>
            </tbody>
          </table>


          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Arribo</th>
                <th scope="col">Hora</th>
                <th scope="col">Habitación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{Lhuespedes.rut}}</th>
                <td>{{Lhuespedes.persona.nombre}} {{Lhuespedes.persona.paterno}}</td>
                <td>{{Lhuespedes.cargo}}</td>
                 <td>
                    <div class="checkBox col-6">
                    <input type="checkbox" class="check">
                    </div>
                </td>
                <td><i class="far fa-clock col-6"></i></td>
                <td><select class="form-control">
                     <option value="+47">Habitación 1</option>
                        <option value="+46">Habitación 2</option>
                        <option value="+45">Habitación 3</option>
                </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="botonesUsuario pb-4">
            <button id="btn " class="btn text-light registro btn-space " type="button" >Agregar</button>
            <button id="btn " class="btn text-light registro btn-space" type="button" >Limpiar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="icono-accesos d-flex">
      <a href="{% url 'RegistroHuespedes' %}">
        <button class="iconosMenus ">
          <i class="fa fa-suitcase"></i>
          <div class="textoMenus">Registrar Huesped</div>
        </button>
      </a>
    </div>

    <script src="{% static 'js/hostal.js' %}"></script>
    <script>
      $("#navigationForm").prop("action", "{{nav}}");
    </script>
    <script>
      {% if form.msg %}
      $("#msg").html("{{form.msg}}");
      $("#msg").fadeIn("slow").delay(3000).fadeOut("slow");
      {% endif %}
    </script>


{% endblock %}
