{% extends 'hostal/base.html' %}
{% load static %}
{% block content %}
<title>Crear Nuevo Cliente</title>

<body>
    
<div class="">
    <div class="wrapper wrapper--w960">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Registro Cliente</h2>
            </div>
            <div class="center-block">
                            {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{message}}   
                                    </div>
                                     {% endfor %}
                            {% endif %}
            </div>
            <div class="d-flex mb-3">
            <div class="center-block"><label for="" class="mt-4">Datos Empresa</label></div>
            <div class="center-block"><label for="" class="mt-4">Datos Contacto</label></div>
            </div>
                <div class="contenedorFormulario form-row justify-content-around">
                <form method="POST" action="/GuardarNuevoCliente/" novalidate onsubmit="return validaOrganismo();">
                    {% csrf_token %}
                    <div class="row">
                <div class="col ml-4 justify-content-around ">
                    <div class="control-label  mb-3">
                        <label for="validationCustom01" class="mr-3">Rut empresa (*)</label>
                        <input type="text" class="form-control  " id="rol_empresa" name="rol_empresa" value="{{form.datos.rol_empresa}}" required>
                    </div>
                    <div class="control-label  mb-3">
                         <label for="validationCustom02" class="mr-3">Nombre fantas&iacute;a (*)</label>
                         <input type="text" class="form-control  " id="nombre_fantasia" name="nombre_fantasia" value="{{form.datos.nombre_fantasia}}" required>
                    </div>
                    <div class="control-label  mb-3">
                         <label for="validationCustom03" class="mr-3">Razon Social</label>
                         <input type="text" class="form-control  " id="razon_social" value="{{form.datos.razon_social}}" name="razon_social" required>
                    </div>
                    <div class="control-label mb-3">
                      <label for="validationCustom03" class="">Región</label>
                        <div class="rs-select2 js-select-simple select--no-search   ">
                          <select name="region" for="regiones" id="regionId" class="form-control col-xs-3" onchange="getComuna($(this).val(), 'comunaId')">
                            <option value="0">-Seleccione región-</option>
                            {% for r in form.region %}
                            <option value="{{r.region_id}}" {% if r.region_id == form.datos.region_id %}selected{% endif %}>{{r.nombre}}</option>
                            {% endfor %}
                          </select>
                          <div class="select-dropdown"></div>
                        </div>
                     </div>
                    <div class="control-label mb-3">
                          <label for="validationCustom03" class="">Comuna (*)</label>
                          <div class="rs-select2 js-select-simple select--no-search ">
                            <select name="comuna" for="comunas" id="comunaId" value="{{comuna}}" class="form-control">
                              <option disabled="disabled" selected="selected" name="comuna" >-Seleccione región-</option>
                            </select>
                            <div class="select-dropdown" name ="comuna"></div>
                          </div>
                    </div>
                    <div class="control-label  mb-3">
                      <label for="validationCustom03" class="mr-5 pr-5">Dirección</label>
                      <input type="text" class="form-control ml-1" id="direccion" value="{{form.datos.direccion}}" name="direccion" required>
                   </div>
                    <div class="control-label  mb-3">
                      <label for="validationCustom03" class="mr-5 pr-5">Telefono</label>
                      <input type="text" class="form-control " id="telefono" name="telefono" value="{{form.datos.telefono}}" required>
                   </div>
                </div>
                    <div class="col ml-4 justify-content-around ">
                        <div class="col ml-4 justify-content-around ">
                            <div class="control-label  mb-3">
                              <label for="validationCustom01" class=" pr-4">Nombre (*)</label>
                              <input type="text" class="form-control " id="nombre_persona" name="nombre_persona" value="{{form.datos.nombre_persona}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom02" class="">Apellido Paterno (*)</label>
                              <input type="text" name="Ap_paterno" class="form-control " id="Ap_paterno" value="{{form.datos.Ap_paterno}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom03" class="mr-4">Apellido Materno</label>
                              <input type="text" class="form-control" name="Ap_materno" id="Ap_materno" value="{{form.datos.Ap_materno}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom03" class="mr-4 pr-1">Correo Contacto</label>
                              <input type="text" class="form-control" id="razons" name="Pemail" value="{{form.datos.Pemail}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom03" class="mr-3">Numero Contacto</label>
                              <input type="text" class="form-control" id="razons" name="Ptelefono" value="{{form.datos.Ptelefono}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom03" class="mr-4 pr-2">Nombre Usuario</label>
                              <input type="text" class="form-control" name="username" id="direccion" value=" {{form.datos.username}}" required>
                            </div>
                            <div class="control-label form-inline mb-3">
                              <label for="validationCustom03" class="mr-5 pr-4">Contraseña</label>
                              <input type="password" class="form-control ml-2" name="contrasena" id="telefono" value="{{form.datos.telefono}}" required>
                            </div>
                    </div>
                    </div>
                    </div>
            <div class="text-center">
                      <div class="control-label  mb-12">
                        <label for="validationCustom03" class="mr-3">Datos cuenta bancaria</label>
                        <textarea name="cuenta" id="cuenta" rows="4" class="form-control">{{form.datos.cuenta}}</textarea>
              </div>
                    <div class="botonesFormulario center-block mt-4">
                        <button id="btn " class="btn text-light registro btn-space mb-3" type="submit" >
                            Guardar Nuevo Cliente
                        </button>
                    </div>
                    </div>
                </form>
</body>

<script src="{% static 'js/hostal.js' %}">
    
</script>
<script>
  $("#navigationForm").prop("action", "{{nav}}");
</script>
{% endblock %}