{% extends 'hostal/base.html' %}

{% load static %}
{% block content %}
<title>Editar Cliente</title>
<body>

  <form method="POST" action="/UpdateCliente/" onsubmit="return validaOrganismo();">

    <div class="wrapper wrapper--w960">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Editar Cliente</h2>
        </div>
        <div class="d-flex mb-3">
          <div class="center-block">
            <label for="" class="mt-4">Datos Empresa</label>
          </div>
          <div class="center-block">
            <label for="" class="mt-4">Datos Contacto</label>
          </div>
        </div>

        <span class="text text-success">
          {% if form.msg != '' %}
            {{form.msg}}
          {% endif %}
        </span>

        <div class="contenedorFormulario form-row justify-content-around">

          {% csrf_token %}

          <input type="hidden" id="clienteId" name="clienteId" value="{{organismo.clienteId}}">
          <input type="hidden" id="personaId" name="personaId" value="{{ organismo.personaId }}">

          <div class="row">
            <div class="col ml-4 justify-content-around ">
              <div class="control-label form-inline mb-3">
                  <label for="validationCustom01" class="mr-3">Rol Empresa</label>
                  <input type="text" class="form-control col-lg-7 ml-5" id="rol_empresa" name="rol_empresa" value="{{form.organismo.rut}} " readonly>
              </div>
              <div class="control-label form-inline mb-3">
                   <label for="validationCustom02" class="mr-3">Nombre Empresa</label>
                   <input type="text" class="form-control col-lg-7" id="nombre_fantasia" name="nombre_fantasia" value="{{form.organismo.nombre_fantasia}}">
              </div>
              <div class="control-label form-inline mb-3">
                   <label for="validationCustom03" class="mr-3">Razon Social</label>
                   <input type="text" class="form-control col-lg-7 ml-5" id="razon_social" value="{{form.organismo.razon_social}}" name="razon_social">
              </div>
              <div class="control-label form-inline mb-3">
                <label for="validationCustom03" class="mr-5 pr-4">Región</label>
                <div class="rs-select2 js-select-simple select--no-search ml-5 pl-2 col-xs-2">
                  <select name="regionId" for="regiones" id="regionId" class="form-control col-xs-3">
                    <option value="0">-Seleccione región-</option>
                    {% for r in form.regiones %}
                    <option value="{{r.region_id}}" {% if r.region_id == form.regionId %}selected{% endif %}>{{r.nombre}}</option>
                    {% endfor %}
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
              <div class="control-label form-inline mb-3">
                <label for="validationCustom03" class="mr-5 pr-4">Comuna</label>
                <div class="rs-select2 js-select-simple select--no-search ml-4 pl-3">
                  <select name="comunaId" for="comunas" id="comunaId" value="{{comuna}}" class="form-control">
                    <option selected="selected" name="comuna" >-Seleccione región-</option>
                    {% for c in form.comuna %}
                    <option value="{{c.comuna_id}}" {% if c.comuna_id == form.comunaId %}selected{% endif %}>{{c.nombre}}</option>
                    {% endfor %}
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
              <div class="control-label form-inline mb-3">
                <label for="validationCustom03" class="mr-5 pr-5">Dirección</label>
                <input type="text" class="form-control ml-1" id="direccion" value="{{form.organismo.direccion}}" name="direccion" required>
              </div>
             <div class="control-label form-inline mb-3">
              <label for="validationCustom03" class="mr-5 pr-5">Telefono</label>
              <input type="text" class="form-control ml-3" id="telefono" name="telefono" value="{{form.organismo.telefono}}" required>
             </div>
           </div>
          <div class="col ml-4 justify-content-around ">
            <div class="col ml-4 justify-content-around ">
              <div class="control-label form-inline mb-3">
                <label for="validationCustom01" class="mr-5 pr-4">Nombre</label>
                <input type="text" class="form-control ml-5 " id="nombre_persona" name="nombre_persona" value="{{form.persona.nombres}}" required>
              </div>
              <div class="control-label form-inline mb-3">
                <label for="paterno" class="mr-3 pr-1">Apellido Paterno</label>
                <input type="text" name="Ap_paterno" class="form-control ml-2" id="Ap_paterno" value="{{form.persona.paterno}}" required>
              </div>
              <div class="control-label form-inline mb-3">
                 <label for="materno" class="mr-4">Apellido Materno</label>
                 <input type="text" class="form-control" name="materno" id="materno" value="{{form.persona.materno}}" required>
              </div>
              <div class="control-label form-inline mb-3">
                <label for="email" class="mr-4 pr-1">Correo Contacto</label>
                <input type="text" class="form-control" name="Pemail" id="email" value="{{form.personaDireccion.email}}" required>
             </div>

             <div class="control-label form-inline mb-3">
               <label for="telefono" class="mr-3">N&uacute;mero Contacto</label>
               <input type="text" class="form-control" name="Ptelefono" id="Ptelefono" value="{{form.personaDireccion.telefono}}" required>
             </div>

              <div class="control-label form-inline mb-3">
                <label for="cuenta" class="mr-3">Datos Cuenta</label>
                <textarea class="form-control" id="cuenta" name="cuenta">{{form.organismo.cuenta_datos}}</textarea>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="botonesFormulario center-block">
        <button id="btn " class="btn text-light registro btn-space mb-3" type="submit" >Guardar cambios</button>
      </div>
    </div>

  </form>

</body>

<script src="{% static 'js/hostal.js' %}"></script>

<script>
  $("#navigationForm").prop("action", "{{nav}}");
</script>

{% endblock %}
