{% extends 'hostal/base.html' %}
{% load static  %}
{% block content %}
<title>Editar Menú</title>

<body>

        <div class="wrapper wrapper--w960">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Editar Menú</h2>
                </div>
                <div class="contenedorFormulario form-row justify-content-around">
                <form class="form-horizontal" method="POST" action="/updateMenu/" novalidate>
                  {% csrf_token %}
                  <table>

                  <input type="hidden" id="menu_id" name="menu_id" value="{{menu.menu_id}}">

                  <div class="row">
                <div class="col ml-4 ">
                    <div class="control-label mb-3 text-center">
                        <label for="validationCustom01" class="">ID Menú</label>
                        <input type="text" class="form-control text-center" id="validationCustom01" name="idMenu" value="{{form.menu.menu_id}}" readonly>
                    </div>
                    <div class="control-label  mb-3 text-center">
                         <label for="validationCustom02" class="">Nombre</label>
                         <input type="text" class="form-control text-center" id="validationCustom02" name="nombre_menu" value="{{form.menu.nombre}}" required>
                    </div>
                    <div class="control-label mb-3 text-center">
                         <label for="validationCustom03" class="">Fecha de Registro</label>
                         <input type="text" class="form-control text-center" id="razons" value="{{form.menu.registro_fecha}}" name="registro_fecha" readonly>

                    </div>
                    <div class="text-center">
                                <button id="btn " class="btn text-light registro btn-space mb-3 mt-3" type="submit" >
                        Guardar Edición
                      </button>
                      </div>
                </div>
                </table>
                </form>
                
</body>
<script src="{% static 'js/hostal.js' %}"></script>

<script>
  $("#navigationForm").prop("action", "{{nav}}");
</script>

{% endblock %}
