{% extends 'hostal/base.html' %}
{% load static %}

{% block content %}

<title>Menu Principal</title>
<body>
    <div class="CabeceraModulo">
        <div class="cerrarSesion">
          <a class="btn btn-info" href="{% url 'InicioSesion' %}"><i class="fa fa-sign-out"></i> Cerrar Sesi&oacute;n</a>
        </div>
        <div class="btonAyuda ml-4 mr-4">
            <button type="button" class="" ><i class="far fa-question-circle iconoAyuda" data-toggle="modal" data-target="#Ayuda"></i>
            </button>
        </div>
    </div>
    <div class="page-wrapper bg-gra-03 pt-5 p-b-50">
        <div class="wrapper wrapper--w960 ">
            <div class="card card-5 ">
                <div class="card-heading">
                    <h2 class="title">Menú</h2>
                </div>
                <br>
                <div class="titulos-cliente">
                    <h2 class="title-admin">Mis Solicitudes </h2>
                </div>
                <div class="tabla-contenidos">
                  <div class="botonesPrincipales d-flex justify-content-around mt-5 mb-5">

                    <div class="row container">

                      <div class="col-lg-3">
                        <button type="button" onclick="setDesktop('{% url 'AdministracionOrdenesCompra' %}');">
                          <i class="fa fa-shopping-basket"></i>
                          <div class="textobton"> Orden de compra
                          </div>
                        </button>
                      </div>

                      <div class="col-lg-3">
                        <button type="button" onclick="setDesktop('{% url 'OrdenDePedidos' %}')">
                          <i class="fa fa-shopping-cart"></i>
                          <div class="textobton"> Orden de pedidos
                          </div>
                        </button>
                      </div>

                      <div class="col-lg-3">
                        <button type="button" onclick="setDesktop('{% url 'AdministracionMenu' %}')">
                          <i class="fa fa-shopping-basket"></i>
                          <div class="textobton"> Administraci&oacute;n de menu
                          </div>
                        </button>
                      </div>

                      <div class="col-lg-3 ">
                        <button type="button" onclick="setDesktop('{% url 'AdminProveedor' %}')">
                          <i class="fa fa-truck"></i>
                          <div class="textobton"> Proveedores
                          </div>
                        </button>
                      </div>

                      <div class="col-lg-3 ">
                        <button type="button" onclick="setDesktop('{% url 'AdministracionHabitaciones' %}')">
                          <i class="fa fa-key"></i>
                          <div class="textobton"> Habitaciones
                          </div>
                        </button>
                      </div>

                      <div class="col-lg-3">
                        <button type="button" onclick="setDesktop('{% url 'CrearNuevoUsuario' %}')">
                          <i class="fa fa-users"></i>
                          <div class="textobton"> Usuarios</div>
                        </button>
                      </div>

                      <div class="col-lg-3">
                        <button type="button" onclick="setDesktop('{% url 'AdminClientesAgregar' %}')">
                          <i class="fa fa-glass"></i>
                          <div class="textobton"> Clientes
                          </div>
                        </button>
                      </div>

                    </div>

                  </div>
                </div>
            </div>
        </div>
    </div>

    <form name="form-menu" id="form-menu" method="post">
      {% csrf_token %}
    </form>

    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}" ></script>
    <script src="{% static 'js/hostal.js' %}"></script>

  <div class="modal fade" id="Ayuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{HAsistente.titulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h2>Titulo</h2>
           <p>{{ayuda.contenido}}</p>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
