{% extends 'hostal/base.html' %}

{% block content %}
<title>Registro Huespedes</title>
<body>

<div class="">
    <div class="wrapper wrapper--w960">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Registro Huespedes</h2>
            </div>
                <div class="contenedorFormulario form-row justify-content-around">
                <form class="needs-validation row mt-5" method="POST" action="/ModuloRegistrarHuesped/">
                  {% csrf_token %}
                  
                <div class="col ml-4 justify-content-around form-inline">
                    <div class="control-label form-inline mb-3">
                        <label for="validationCustom01" class="mr-3">Rol</label>
                        <input type="text" class="form-control ml-4" id="validationCustom01" value="" name="rol_empresa" required>
                    </div>
                    <div class="control-label form-inline mb-3">
                         <label for="validationCustom02" class="mr-4">Rut</label>
                         <input type="text" class="form-control ml-3" id="validationCustom02" value="" required>
                    </div>
                    <div class="control-label form-inline mb-3">
                         <label for="validationCustom03" class="mr-3">Cargo</label>
                         <input type="text" class="form-control" id="" value="" name="cargo" required>
                    </div>
                </div>
                    <div class="col ml-4 justify-content-around ">
                        <div class="control-label form-inline mb-3">
                            <label for="validationCustom01" class="mr-3">Empresa</label>
                            <input type="text" class="form-control ml" id="validationCustom01" value="" name="nombre_empresa" required>
                        </div>
                        <div class="control-label form-inline mb-3">
                             <label for="validationCustom02" class="mr-4">Nombre</label>
                             <input type="text" class="form-control" id="validationCustom02" value="" name="nombr_persona" required>
                        </div>
                        <div class="control-label form-inline mb-3">
                             <label for="validationCustom03" class="mr-4">Apellido</label>
                             <input type="text" class="form-control" id="apellido" value="" name="Ap_paterno" required>
                        </div>
                    </div>
                    <div class="botonesFormulario mr-5 pr-5">
                    <button class="btn text-light registro btn-space" type="submit" > 
                        Agregar
                      </button>
                      <button id="btn" class="btn text-light registro btn-space btn-block mt-5" type="button" > 
                        Limpiar
                      </button>
                    </div>
                </form>  
                </div>

                <div class="titulos d-flex mt-5 mb-5 col-9 center-block ">
                    <input class="buscarEmpresa form-control"></input>
                    <button id="btn " class="btn text-light registro btn-space " type="button" > 
                         Buscar
                    </button>
                </div>

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Menú</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">17.480.866-k</th>
                        <td>Mark</td>
                        <td>Diseño</td>
                        <td><select class="form-control">
                             <option value="+47">Ejecutivo</option>
                                <option value="+46">Vegetariano</option>
                                <option value="+45">Vegano</option>
                        </select>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">13.560.236-2</th>
                        <td>Jonathan</td>
                        <td>Gerente</td>
                        <td><select class="form-control">
                            <option value="+47">Ejecutivo</option>
                               <option value="+46">Vegetariano</option>
                               <option value="+45">Vegano</option>
                       </select>
                        </td>
                      </tr>
                      </tr>
                      <tr>
                        <th scope="row">15.120.161-6</th>
                        <td>Hector</td>
                        <td>Programador</td>
                        <td><select class="form-control">
                            <option value="+47">Ejecutivo</option>
                               <option value="+46">Vegetariano</option>
                               <option value="+45">Vegano</option>
                       </select>
                        </td>
                      </tr>
                      </tr>
                    </tbody>
                  </table>

                  <div class="botonesSolicitar pb-5">
                    <button id="btn " class="btn text-light registro btn-space " type="button" > 
                      Limpiar Registro
                    </button>
                    <button id="btn " class="btn text-light registro btn-space" type="button" > 
                      Enviar OC
                    </button>
                    </div>
            </div>
    </div>
</div>
</body>


{% endblock %}